body {
	font-size: 1em;
	background-color:#eaeaea;
}
h1 {
	font-size:1.5em;
	text-align:center;
}
h1 span{
	font-size:.7em;
}
#msform {
	width: 750px;
	margin: 10px auto ;
	text-align: center;
	position: relative;
	background-color:#b7b7b7;
	z-index: -2; /*put it behind the numbers*/
	padding-top:10px;
	padding-bottom:10px;
	
}



#progressbar {
	margin-bottom: 0px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: .9em;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: .9em;
	color: #333;
	background: white;
	border-radius: 10px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}











form span {
	color:red;
	font-size:.7em;
	vertical-align:top;
}

textarea {
	width:100%;
	height:100px;
}
#submitButton {
	padding:5px;
}
#typeContainer, #basicInfoContainer, #addressContainer, #vehicleTypeContainer, #basicInfoContainer0, #basicInfoContainer1, #basicInfoContainer2, #basicInfoContainer3, #submitContainer, #availability, #categoryContainer, #descriptionContainer,#confidentialityContainer, #fileContainer, #submitConainer, #titles > div, #title_step2,#confirmBodyContainer {
	border: thin solid #e5e5e5;
	padding:15px;
	width:700px;
	margin:0 auto;
	background-color:white;
	line-height:2em;
	
}
#customContainer {
	margin: 0 auto;
}

#timesType {
	text-align: center;
	border-top: thin solid #e8e8e8;
	border-bottom: thin solid #e8e8e8;
	margin-bottom:10px;
}
#customContainer {
	width:40%;
}
#mondayContainer, #wednesdayContainer, #fridayContainer, #sundayContainer{
	border-bottom: thin solid #e8e8e8;
	padding:5px;
}
#tuesdayContainer, #thursdayContainer, #saturdayContainer{
	padding:5px;
	border-bottom: thin solid #e8e8e8;
	
	
}

#map-canvas {
	height:150px;
}




#map_button {
	padding:5px;
	display:inline;
	background-color:#4285f3;
	color: white;
	width:50px;
	border-radius:3px;
	
}
#map-container {
	width:300px;
	height:200px;
	background-color:#efeeea;
	
}


#addressResult {

	padding:15px;
	background-color:#efeeea;
	line-height:1em;	
}
#addressResult span{

	font-weight:bold;
	color:black;
	font-size:1em;
	vertical-align:middle;
	
}




#error {
	color:red;
	font-size:.7em;
	
	
}


