#aj_dea_bg {
	float:left;

	width:100%;
}

#bodyContainer {
	width:700px;
	margin:0 auto;
	margin-top:50px;
}
#body_inner_container {
	float:left;
	padding:20px;
	background-color:white;
}
#body_inner_container span{
	font-weight:bold;	
}


.arrow {
	position: relative;
	display:inline-block;
	height:50px;
	width:100%;
	text-align:center;
	animation: point-down 1s alternate infinite;	
}

@keyframes point-down {
	from {
		top: 0;	
	}
	to {
		top: 15px;	
	}
}


#recordContainer {
	position:fixed;
	top:200px;
	right:200px;
	
}
#recordContainer a {
	text-decoration: none;
	color:white;
}
#recordHeader {
	height:89px;
	text-align:center;
	background-color:#4DB688;
		overflow:hidden;
}

#recordHeader:hover {
	height:150px;
	animation: big .5s alternate ;
}

@keyframes big {
	from {
		height: 89px;	
	}
	to {
		height: 150px;	
	}
}
#recordFooter {
	text-align:center;
	padding: 10px;
	background-color:#009755;
	
	
}
#indicateContainer {
	float:right;
	width:47%;
}

#indicateHeader a {
	text-decoration: none;
	color:white;
}

#indicateHeader {
	height:50px;
	text-align:center;
	line-height:50px;
	background-color:#26729d;
	color:white;
	
}

#indicateHeader:hover {
	background-color:#54a7d5;	
	
}
#indicateFooter {
	text-align:justify;
	padding: 10px;
	background-color:white;
	
	
}