#aj_dea_bg {
	position:absolute;
	top:107px;
	left:0px;

	width:100%;
	z-index:-1;
}

#bodyContainer {
	width:100%;
	margin-top:20px;
}
#body_inner_container {
	float:right;
	width:65%;
	text-align:right;
	padding:20px;
	
	
}
#body_inner_container span{
	font-weight:bold;
	font-size:1.8em;	
}


#recordContainer {
	width:200px;
	float:right;
	margin:20px;
	
}
#recordContainer img {
	
	
}

#recordContainer a {
	text-decoration: none;
	color:white;
}
#recordHeader {
	height:90px;
	text-align:center;
	background-color:#4DB688;
	overflow:hidden;
	color:white;
	
}

#recordHeader:hover {
	height:150px;
	animation: big .5s alternate ;
}

@keyframes big {
	from {
		height: 90px;	
	}
	to {
		height: 150px;	
	}
}
#recordFooter {
	text-align:center;
	padding: 10px;
	background-color:#009755;
	color: white;
	
	
}
#indicateContainer {
	width:200px;
	float:right;
	margin:20px;
}

#indicateHeader a {
	text-decoration: none;
	color:white;
}

#indicateHeader {
	height:90px;
	text-align:center;
	background-color:#4DB688;
	overflow:hidden;
	color:white;
	
}

#indicateHeader:hover {
	height:150px;
	animation: big2 .5s alternate ;
}

@keyframes big2 {
	from {
		height: 90px;	
	}
	to {
		height: 150px;	
	}
}
#indicateFooter {
	text-align:center;
	padding: 10px;
	background-color:#009755;
	color: white;
	
	
	
}