
.sectionContainers {
	float:left;
	width:100%;
	background-color:white;
	
	
}
.sectionTitle{
	line-height:1em;
	
	font-weight:bold;
	margin-bottom:10px;
	margin-top:10px;
	padding:5px;
	background-color:#eaeaea;
}
.step_3_items {
	padding-bottom:5px;
	line-height:1em;
	
}
.step_3_items span {
	color:#169754;
	
}
.step_3_items_right {
	float:right;
	width:48%;
	padding-bottom:5px;
	line-height:1em;
	text-align:right;
}
.step_3_items_right span {
	color:#169754;
	
}
.step_3_items_left{
	float:left;
	width:48%;
	padding-bottom:5px;
	line-height:1em;
	text-align:left;
}

#thumbnail {
	float:right;
	width:20%;
	background-color: white;	
}
#thumbnail2 {
	float:right;
	width:40%;
	background-color: white;	
}

#step_3_basic_info_container {
	float:left;
	width:80%;
	background-color: white;
	line-height:1em;	
}


.result_map {
	float:left;
	width:100%;
}
#map-canvas, #map-canvas1 {
	height:200px;
}


table {
	width:75%;
	text-align:center;
	border:thin solid black;
	margin: 0 auto;
}
th, td
{
border: 1px solid black;
padding:5px;
}

#alert_submit {
	padding:15px;
	width:700px;
	margin:0 auto;
	color: #D8000C;
	background-color: #FFBABA;
	margin-bottom:10px;
}
#alert_submit span {
	text-decoration:underline;
	font-weight:bold;
}

#step3_submitContainer {
	float:left;
	width:100%;
	text-align:center;
}
#submitButton{
	margin:30px 0px ;
	
}
#theBigContainer{
	padding:15px;
	width:700px;
	margin:0 auto;
	background-color:white;

}
#confirmBodyContainer,#confirmBodyContainer1  {
	float:left;
	width:100%;
	
}

/* For modern browsers */
#theBigContainer:before,
#theBigContainer:after {
    content:"";
    display:table;
}
#theBigContainer:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
#theBigContainer {
    zoom:1;
}
.step_3_boxedItem {
	float:left;
	width:95%;
	font-size:.8em;
	padding:1% 2.5%;
	color:white;
	background:#179755;
	margin-top:15px;
}
.infoSign{
	
	font-size:1em;
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:7.5px;
	text-align:center;
	border: thin solid white;
	color:white;
	line-height:15px;
}

#theLat, #theLat1 {
	color:black;
}
#theLng, #theLng1 {
	color:black;
}


















